.second-section {
  background-image: url(/img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-clip: border-box;

  padding-bottom: 250px;


  @media (max-width: 560px) {
    background-image: none;
    background-color: #ededd5;
  }

  &__heading {
    margin: 0;
  }
}