.tabs {
  
  &__menu {
    border-bottom: 1px solid #c0c1ba;
  
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 115px;
    list-style: none;
  }

  &__link-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 100%;

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 3px solid transparent;

    &_active,
    &:hover,
    &:active {
      border-bottom: 3px solid #009e82;
      color: #009e82;
    }
  }

  &__container {
    display: none;
    padding-top: 86px;

    @media (max-width: 768px) {
      display: block;
      padding-top: 0;
      padding-right: 50px;
      padding-left: 50px;
      margin-bottom: 13px;
      
    }
    
    &_active {
      display: block;

      @media (max-width: 768px) {
        padding-bottom: 271px;
        margin-bottom: 25px;
        background-image: url("../img/bg2.png");
        background-position: bottom right;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__text {
    margin: 0 0 47px 0;
    max-width: 680px;
    line-height: 24px;

    @media (max-width: 768px) {
      margin: 0 0 31px 0;
      font-size: 16px;
      line-height: 1;
    }
  }

  &__heading {
    margin: 0 0 35px 0;
    font-size: 24px;
    font-weight: 300;

    @media (max-width: 768px) {
      margin: 0 0 30px 0;
    }
  }

  &__steps-list {
    counter-reset: myCounter;
    margin-bottom: 35px;
  }

  &__steps-item {
    display: flex;
    align-items: center;
    
    max-width: 625px;
    list-style: none;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &::before {
      counter-increment: myCounter;
      content:counter(myCounter);
      margin-right: 20px;
      font-size: 32px;
      color: #00b596;
      font-weight: 300;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 156px;
    height: 45px;
    
    border-radius: 3px;
    background-color: #009e82;
    color: #feffff;
    font-weight: 500;

  }

  &__accordion {
    display: none;

    width: 100%;
    height: 69px;
    margin: 0;
    padding-left: 75px;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-position: 28px center;
    background-size: 35px auto;

    color: #2B2B2B;
    font-size: 18px;

    cursor: pointer;

      @media (max-width: 768px) {
        display: flex;
      }

      &_tab1 {
        background-image: url("../img/icon1.png");
      }

      &_tab2 {
        background-image: url("../img/icon2.png");
      }

      &_tab3 {
        background-image: url("../img/icon3.png");
      }

      &::after {
        content: "";
        width: 21px;
        height: 11px;
        margin-right: 15px;
        margin-left: auto;
        background-image: url("../img/arrow.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &_active {

        &::after {
          transform: rotate(180deg);
        }
    }

  }

  &__content {
    padding-top: 23px;

    @media (max-width: 768px) {
      display: none;

      &_active {
        display: block;
      }
    }
  }


}

